* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #777;
    background: #777;
    width: 960px;
  }
  
  header {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    background: white;
  }
  
  section {
    padding: 20px;
    width: 920px;
    margin-bottom: 20px;
    background: #777;
  }
  
  
  #middle {
    float: left;
    width: 100%;
    color: #777;
    background: white;
  }
  
  #full {
    width: 50%;
    height: 400px;
    overflow: auto;
    clear: both;
    color: #777;
    background: white;
  }
  
  #division {
    padding: 20px;
    width: auto;
    margin-top: 20px;
    background: #777;
  }

  #division1 {
    padding: 20px;
    margin-top: 0px;
    background: white;
  }

  #division2 {
    padding: 20px;
    margin-top: 20px;
    background: white;
  }
  
  aside {
    float: right;
    width: 48%;
    height: 400px;
    padding: 20px;
    margin-left: 2px;
    margin-bottom: -400px;
    text-decoration-color: white;
    background: white;
    border: 1px solid #eee;
  }
  
  footer {
    padding: 20px;
    clear: both;
    background: white;
  }
  